body {
    width: 30%;
}
button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
#res {
    background-color: lightgray;
    border-style: solid;
    height: 48px;
    font-size: 20px;
    line-height: 48px;
    padding-left: 10px;
}
#btn0, #btn1 {
    background-color:lightgreen;
    color:braun;
    text-align: center;
}
#btnClr, #btnEql {
    background-color:darkgreen;
    color:white;
    text-align: center;
}
#btnSum, #btnSub, #btnMul, #btnDiv {
    background-color:black;
    color:red;
    text-align: center;"
}
